server {
  listen 80;

  root {{ document_root }}/{{ app_root }};
  index index.html index.htm;

  server_name {{ server_name }};
  return 301 https://$host$request_uri;
  
  location / {
   default_type "text/html";
   try_files $uri.html $uri $uri/ =404;
  }
}

server {
    listen 443 ssl default_server;
    server_name {{ server_name }};
}